{{ define "home" }}
{{ template "head" }}
{{ template "header" }}
<main class="flex w-full flex-col gap-12 md:gap-20 md:text-lg">
    <section class="relative mx-auto aspect-square w-full max-w-screen-xl md:aspect-video">
        <video
            width="1280"
            height="720"
            autoPlay
            muted
            loop
            preload="none"
            playsInline
            class="absolute left-0 top-0 h-full w-full object-cover"
        >
            <source src="/static/media/hero-video.mp4" type="video/mp4" />
        </video>
    </section>
    <section class="mx-auto flex max-w-screen-md flex-col gap-6 px-6">
        <h1 class="font-display text-3xl md:text-4xl">Cine suntem?</h1>
        <p>
            Suntem o organizație non-profit care vrea să arate că poți face
            bine din bucurie și conexiuni reale, nu doar din milă sau
            obligație socială.
        </p>
        <p>
            Ne propunem să folosim rețelele sociale nu doar pentru a strânge
            fonduri și a ajuta, ci și pentru a aduce vibe-uri pozitive și a
            crea o comunitate activă și fun în jurul acestor inițiative.
        </p>
    </section>
    <section class="relative mx-auto flex w-full max-w-screen-md flex-col gap-10 bg-secondary/15 px-6 py-12 md:gap-20 md:py-20">
        <ProjectArchive posts={posts} />
    </section>
    <section class="mx-auto flex w-full max-w-screen-md flex-col gap-6 px-6">
        <h1 class="font-display text-3xl md:text-4xl">Parteneri</h1>
        <p>
            Mulțumim partenerilor noștri pentru sprijinul lor în răspândirea
            bunătății.
        </p>
        <div class="grid grid-cols-2">
            <Logos />
        </div>
    </section>
</main>
{{ template "footer" }}
{{ template "foot" }}
{{ end }} 
