{{- define "button" -}}
{{- $defaults := props
    "Children" ""
    "Variant"  "primary"
    "Size"     "base"
    "Class"    ""
-}}
{{- $props := merge . $defaults -}}

{{- if $props.Href -}}
    <a href="{{- $props.Href -}}" class="button button--variant-{{ $props.Variant }} button--size-{{ $props.Size }} {{ $props.Class -}}"
        {{- if $props.Attributes -}}
            {{- $props.Attributes -}}
        {{- end -}}
    >
        {{- $props.Children -}}
    </a>
{{- else -}}
    <button type="button" class="button button--variant-{{ $props.Variant }} button--size-{{ $props.Size }} {{ $props.Class -}}"
        {{- if $props.Attributes -}} 
            {{- $props.Attributes -}}
        {{- end -}}
    >
        {{- $props.Children -}}
    </button>
{{- end -}}
{{- end -}}
