{{- define "footer" -}} 
<footer class="footer">
    <nav class="footer__nav-container container flex flex-col align-center gap-4">
        <a class="footer__link" href="/contact">Contact</a>
        <a class="footer__link" href="/projects">Proiecte</a>
        <nav class="footer__nav flex justify-center gap-6">
            {{- $socials := slice "facebook" "instagram" "linkedin" "twitter" -}}
            {{- range $socials -}}
                {{- template "social" . -}}
            {{- end -}}
        </nav>
    </nav>
</footer>
{{- end -}}
