{{- define "head" -}}
<!doctype html>
<html lang="ro">
    <head>
        <title>{{ .Title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/static/css/index.css" rel="stylesheet" />
        <link rel="preload" href="/static/fonts/Raleway-Black.woff2" as="font" type="font/woff2" crossorigin="anonymous">
        <link rel="preload" href="/static/fonts/Roboto-Regular.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    </head>
    <body> 
        <main class="content" data-content="">
{{- end -}}
