.button {
  display: block;
  width: fit-content;
  font-family: var(--font-heading);
  font-size: var(--button-font-size);
  color: hsl(var(--button-color-fg));
  background-color: hsl(var(--button-color-bg));
  padding: var(--button-padding-y) var(--button-padding-x);
  border: 1px solid hsl(var(--button-color-bg));
  border-radius: var(--radius-full);
  text-align: center;
  cursor: pointer;
  transition:
    background-color var(--transition-fast),
    color var(--transition-fast);
}

.button:hover {
  background-color: hsl(var(--button-color-bg) / .8);
}

.button--variant-primary {
  --button-color-bg: var(--color-primary);
  --button-color-fg: var(--color-fg-inverse);
}

.button--variant-secondary {
  --button-color-bg: var(--color-secondary);
  --button-color-fg: var(--color-fg-inverse);
}

.button--size-base {
  --button-font-size: var(--font-size-base);
  --button-padding-y: var(--space-1);
  --button-padding-x: var(--space-4);
}

.button--size-lg {
  --button-font-size: var(--font-size-lg);
  --button-padding-y: var(--space-1-5);
  --button-padding-x: var(--space-6);
}

.button--size-xl {
  --button-font-size: var(--font-size-lg);
  --button-padding-y: var(--space-2);
  --button-padding-x: var(--space-8);
}
