.header {
  position: sticky;
  top: 0;
  z-index: 50;
}

.header__backdrop {
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: hsl(var(--color-bg) / .8);
  border-bottom: var(--border-default);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

@supports not ((backdrop-filter: blur(8px)) or (-webkit-backdrop-filter: blur(8px))) {
  .header__backdrop {
    background-color: hsl(var(--color-bg));
  }
}

.header__container {
  height: var(--space-16);
  border-bottom: var(--border-default);
}

.header__link {
  color: hsl(var(--color-muted));
  transition: color var(--transition-fast);
}

.header__link:hover {
  color: hsl(var(--color-fg));
}
