{{- define "contact" -}}
{{- template "head" -}}
{{- template "header" -}}
<main class="content__main container flex flex-col gap-8">
    <h1>Vorbește cu noi</h1>
    <div class="flex flex-col gap-4">
        <p><span class="bold">Telefon:</span>
            &nbsp;+40 (751) 178 171
        </p>
        <p>
            <span class="bold">Email:</span>
            &nbsp;contact@hintermann.ro
        </p>
        <div>
            <span class="bold">Detalii bancare:</span>
            <p>Asociația de Caritate Hintermann</p>
            <p>RO61 INGB 0000 9999 1494 0141</p>
        </div>
    </div>
</main>
{{- template "footer" -}}
{{- template "foot" -}}
{{- end -}}
