{{- define "donate" -}}
{{- template "head" props
    "Title"       "Portal donații"
    "Description" "Portal donații Hintermann Charity"
    "Page"        "/donate"
-}}
{{- template "header" -}}
<main class="content container flex flex-col gap-6">
    <h1>Cum poți ajuta?</h1>
    <p>
        Donația ta ne permite să continuăm să susținem cauzele noastre și pe
        cei aflați în nevoie. Scopul nostru este să facem lumea un loc mai
        bun. Alătură-te mișcării noastre.
    </p>
    <div class="grid grid-cols-2">
        <button class="donate__toggle donate__toggle--first donate__toggle--active" data-donate-toggle="once">O dată</button>
        <button class="donate__toggle donate__toggle--second" data-donate-toggle="monthly">Lunar</button>
    </div>
    <form id="form-once" class="flex flex-col gap-2">
        {{ template "donate-option" (slice "pay-1" "10 lei" nil) }}
        {{ template "donate-option" (slice "pay-2" "25 lei" "checked") }}
        {{ template "donate-option" (slice "pay-3" "50 lei" nil) }}
        {{ template "donate-option" (slice "pay-4" "100 lei" nil) }}
        {{ template "donate-option" (slice "pay-5" "Altă sumă" nil) }}
        {{ template "button" props
            "Children"   "Donează"
            "Size"       "xl"
            "Class"      "w-full"
            "Attributes" (attr "type='submit'")
        }}
    </form>
    <form id="form-monthly" class="flex flex-col gap-2 hidden">
        {{ template "donate-option" (slice "sub-1" "25 lei" nil) }}
        {{ template "donate-option" (slice "sub-2" "35 lei" "checked") }}
        {{ template "donate-option" (slice "sub-3" "50 lei" nil) }}
        {{ template "donate-option" (slice "sub-4" "75 lei" nil) }}
        {{ template "donate-option" (slice "sub-5" "100 lei" nil) }}
        {{ template "button" props
            "Children"   "Alătură-te acum"
            "Size"       "xl"
            "Class"      "w-full"
            "Attributes" (attr "type='submit'")
        }}
    </form>
    <p class="donate__secure">
        În continuare, vei fi redirecționat(ă) către o pagină de plată
        securizată.
    </p>
</main>
{{- template "footer" -}}
<script src="/static/js/donate.js"></script>

{{- template "foot" -}}
{{- end -}} 

{{- define "donate-option" -}}
{{- $value := index . 0 -}}
{{- $label := index . 1 -}}
{{- $checked := index . 2 -}}
<label class="donate__option flex align-center justify-center">
    <input class="hidden" type="radio" name="option" value="{{ $value }}"
        {{- if $checked -}} 
            checked
        {{- end -}}
    >
    {{ $label }}
</label>
{{- end -}}
