{{- define "home" -}}
{{- template "head" props
    "Type" "Organization"
-}}
{{- template "header" -}}
<main class="content__main flex flex-col gap-6">
    <section class="hero container container--p-0 container--xl">
        <video 
            class="hero__video" 
            width="1280" 
            height="720" 
            autoplay muted loop playsInline
        >
            <source src="/static/media/hero-video.mp4" type="video/mp4" />
        </video>
    </section>
    <section class="container flex flex-col gap-6">
        <h1>Cine suntem?</h1>
        <p>
            Suntem o organizație non-profit care vrea să arate că poți face
            bine din bucurie și conexiuni reale, nu doar din milă sau
            obligație socială.
        </p>
        <p>
            Ne propunem să folosim rețelele sociale nu doar pentru a strânge
            fonduri și a ajuta, ci și pentru a aduce vibe-uri pozitive și a
            crea o comunitate activă și fun în jurul acestor inițiative.
        </p>
    </section>
    <section class="projects container container--py-12 flex flex-col gap-12">
    {{- $count := 0 -}}
    {{- range . -}}
        {{- if lt $count 5 -}}
        {{- $count = add $count 1 -}}
        {{- $link := printf "/projects/%s" .Slug -}}
        {{- $src := printf "/projects/%s/cover" .Slug }}
        <a href="{{ $link }}" class="flex flex-col gap-4">
            <img
                class="projects__img"
                src="{{ $src }}-960.webp"
                srcset="{{ $src }}-960.webp 960w, {{ $src }}-1280.webp 1280w"
                sizes="(max-width: 1024px) 100vw, 1280px"
                alt="{{ .Title }}"
            >
            <h2>{{ .Title }}</h2>
            <p>{{ .Description }}</p>
            {{ template "button" props
                "Children" "Vezi poveste"
                "Size"     "lg"
                "Class"    "w-full md:w-fit"
            }}
        </a>
        {{- end -}}
    {{- end -}}
    </section>
    <section class="container container--p-0 flex flex-col gap-6">
        <h1 class="p-sides">Parteneri</h1>
        <p class="p-sides">
            Mulțumim partenerilor noștri pentru sprijinul lor în răspândirea
            bunătății.
        </p>
        <div class="grid grid-cols-2">
            {{- $logos := slice 
                "auchan" "alex-star" "ana-maria" "la-cocos" "plai" "carmeuse" 
                "aerotec" "elmas" "humana" "lista-firme" "malfini" "proconfort"
                "panfood" "termoconfort"
            -}}
            {{- range $logos -}}
                {{ template "sponsor-logo" (props 
                    "Name"  .
                    "Class" "sponsor__link"
                )}}
            {{- end -}}
        </div>
    </section>
</main>
{{- template "footer" -}}
{{- template "foot" -}}
{{- end -}} 
