{{- define "home" -}}
{{- template "head" -}}
{{- template "header" -}}
<main class="content__main flex flex-col gap-6">
    <section class="hero container container--p-0 container--xl">
        <video class="hero__video" width="1280" height="720" autoplay muted loop preload="none" playsInline>
            <source src="/static/media/hero-video.mp4" type="video/mp4" />
        </video>
    </section>
    <section class="container flex flex-col gap-6">
        <h1>Cine suntem?</h1>
        <p>
            Suntem o organizație non-profit care vrea să arate că poți face
            bine din bucurie și conexiuni reale, nu doar din milă sau
            obligație socială.
        </p>
        <p>
            Ne propunem să folosim rețelele sociale nu doar pentru a strânge
            fonduri și a ajuta, ci și pentru a aduce vibe-uri pozitive și a
            crea o comunitate activă și fun în jurul acestor inițiative.
        </p>
    </section>
    <section class="projects container container--py-12 flex flex-col gap-12">
    {{ $count := 0 }}
    {{range . }}
        {{if lt $count 4 }}
        {{ $count = add $count 1 }}
        <a href="/projects/{{ .Slug }}" class="flex flex-col gap-4">
            <img class="w-full h-auto" src="/projects/{{ .Slug }}/{{ .CoverImage }}" width="300" height="200" alt="{{ .Title }}" />
            <h2>{{ .Title }}</h2>
            <p>{{ .Description }}</p>
            {{ template "button" props
                "Children" "Vezi poveste"
                "Size"     "lg"
                "Class"    "w-full md:w-fit"
            }}
        </a>
        {{end}}
    {{end}}
    </section>
    <section class="container flex flex-col gap-6">
        <h1>Parteneri</h1>
        <p>
            Mulțumim partenerilor noștri pentru sprijinul lor în răspândirea
            bunătății.
        </p>
        <div class="grid grid-cols-2">
            <a class="partners__link flex align-center justify-center" href="https://www.auchan.ro/">
                <img class="partners__logo" src="/static/media/logos/auchan.png" width="115" height="27.85" alt="Logo auchan" />
            </a>
            <a class="partners__link flex align-center justify-center" href="https://humana-romania.ro/">
                <img class="partners__logo" src="/static/media/logos/humana.png" width="110" height="29.65" alt="Logo humana" />
            </a>
            <a class="partners__link flex align-center justify-center" href="https://alexstar.ro/">
                <img class="partners__logo" src="/static/media/logos/alex-star.png" width="90" height="37.97" alt="Logo alex-star" />
            </a>
            <a class="partners__link flex align-center justify-center" href="https://www.listafirme.ro/">
                <img class="partners__logo" src="/static/media/logos/lista-firme.png" width="135" height="17.93" alt="Logo lista-firme" />
            </a>
            <a class="partners__link flex align-center justify-center" href="https://www.carmeuse.com/ro-ro">
                <img class="partners__logo" src="/static/media/logos/carmeuse.png" width="100" height="50.39" alt="Logo carmeuse" />
            </a>
            <a class="partners__link flex align-center justify-center" href="https://panfood.ro/">
                <img class="partners__logo" src="/static/media/logos/panfood.png" width="78" height="64.29" alt="Logo panfood" />
            </a>
            <a class="partners__link flex align-center justify-center" href="https://plaicashcarry.ro/">
                <img class="partners__logo" src="/static/media/logos/plai.png" width="60" height="57.65" alt="Logo plai" />
            </a>
        </div>
    </section>
</main>
{{- template "footer" -}}
{{- template "foot" -}}
{{- end -}} 
