{{- define "project-archive" -}}
{{- template "head" props
    "Title"       "Proiecte"
    "Description" "Pagina de proiecte Hintermann Charity"
    "Page"        "/projects"
-}}
{{- template "header" -}}
<main class="content container flex flex-col gap-6">
    <h1>Proiecte</h1>
    <section class="flex flex-col gap-12">
    {{ range . }}
        {{- $link := printf "/projects/%s" .Slug -}}
        {{- $src := printf "/projects/%s/cover" .Slug }}
        <a href="{{ $link }}" class="flex flex-col gap-4">
            <img
                class="projects__img"
                src="{{ $src }}-960.webp"
                srcset="{{ $src }}-960.webp 960w, {{ $src }}-1280.webp 1280w"
                sizes="(max-width: 1024px) 100vw, 1280px"
                alt="{{ .Title }}"
            >
            <h2>{{ .Title }}</h2>
            <p>{{ .Description }}</p>
            {{ template "button" props
                "Children" "Vezi poveste"
                "Size"     "lg"
                "Class"    "w-full md:w-fit"
            }}
        </a>
    {{end}}
    </section>
</main>
{{- template "footer" -}}
{{- template "foot" -}}
{{- end -}} 
