{{- define "thank-you" -}}
{{- template "head" props
    "Title"       "Mulțumim"
    "Description" "Mulțumim pentru donație"
    "Page"        "/donate/thank-you"
-}}
{{- template "header" -}}
<main class="content__main container flex flex-col justify-center gap-6">
    {{ template "icon" props 
        "Name"   "check"
        "Width"  "2.75rem"
        "Height" "2.75rem"
    }}
    <h1>Mulțumim! <span class="italic">Serios.</span></h1>
    <p>Și bine ai venit în familie. Îți mulțumim din suflet pentru donația ta.</p>
    <p>Datorită sprijinului tău, putem continua să ne dedicăm răspândirii bunătății.</p>
    <p>Doar împreună putem avea un impact real.</p>
    <p>Stai la curent cu ultimele noutăți:</p>
    <div class="flex align-center gap-4">
        {{- $socials := slice "facebook" "instagram" "linkedin" "twitter" -}}
        {{- range $socials -}}
            {{- template "social" . -}}
        {{- end -}}
    </div>
    {{- template "button" props
        "Children" "Acasă"
        "Href"     "/"
        "Size"     "lg"
    -}}
</main>
{{- template "footer" -}}
{{- template "foot" -}}
{{- end -}} 
